<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Judul Halaman-->
  <title>Ask Me Bot</title>

  <!--Icon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <!--CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">

  <!--JavaScript-->
  <script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
          <img src={{ url_for('static', filename='/img/logo.png') }} width="50" height="50">
          <div class="navbar-header">
            <a class="navbar-brand brand-font p-lg-3" href="index.html">Ask Me Bot</a>
          </div>
  
          <div class="collapse navbar-collapse" id="navbarNav" style="font-size: large;">
            <div class="mx-auto"></div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-white" href="index.html" style="font-weight: bold;">Beranda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="app.html" style="font-weight: bold;">Aplikasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="artikel.html" style="font-weight: bold;">Artikel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="informasi.html" style="font-weight: bold;">Tentang Kami</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Home  -->
    <div id="home" class="vh-100 align-items-center">
        <img src={{ url_for('static', filename='/img/banner1.png') }} width="150px" style="background-size: cover; height: 100%; width: 100%;">
    </div>
</body>
</html>